{% extends "base.html.twig" %} 

{% block content %}
<section>
    <article>
        <div id="map"></div>
    </article>
</section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
               
        var search = {{ stations|json_encode()|raw }};
        $.each(search, function(key, element) {
            var name = element.name_station;
            var ltd = element.latitude;
            var lgd = element.longitude;
            var address = element.address;
            var city = element.city
            var zip = element.zip
           
            console.log(ltd);
            console.log(lgd);
            console.log(element.zip)

            $.each(element.technicals, function(key2, technical) {
                
                var compagny = technical.company;
                var charge = technical.charge_type;
                var pdc = technical.nbr_pdc;
                var connector = technical.connectors_type;

                var layer = L.marker([ltd, lgd]).addTo(map)
               
                .bindPopup(
                    '<em><b>' +name + 
                    '</b><br>' + address +' '+ zip + ' ' + city +
                    '<br>' + compagny + 
                    '<br><b> Type de charge:</b> ' + charge + 
                    '<br><b> Nombre PDC :</b> ' + pdc + 
                    '<br><b> Type connecteur:</b> '+ connector +'</em>')
                .openPopup()        

            });
        });
    </script>
{% endblock %}