{% extends "base.html.twig" %} 

{% block content %}
<section>
    <article>
        <div id="map"></div>
    </article>
</section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var search = {{ stations|json_encode()|raw }};
        $.each(search, function(key, element) {
            var ltd = element.latitude;
            var lgd = element.longitude;


            console.log(ltd);
            console.log(lgd);
            console.log(element.zip)
            

            $.each(element.technicals, function(key2, technical) {
                console.log(technical.comp);

                 L.marker([ltd, lgd]).addTo(map)
                .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                .openPopup();
            });
        });
    </script>
{% endblock %}