{% extends "base.html.twig" %} 

{% block content %}
<section>
    <article>
        <div id="map"></div>
    </article>
</section>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    var search = "{{ stations|json_encode() }}"

</script>
{% endblock %}