<footer class="page-footer">
    <div class="container">
        © 2018 Create by                           
        <a class="grey-text text-lighten-3" href="#!">Stacy</a>
        <a class="grey-text text-lighten-3" href="#!">Otmane</a>
        <a class="grey-text text-lighten-3" href="#!">Maxime</a>
        <a class="grey-text text-lighten-3" href="#!">Arnaud</a>
        <a class="grey-text text-lighten-3 left" href="https://github.com/DuronStacy/PowerCar" target="_blank" ><img height="25px"src="./assets/img/github.png" alt="git"></a>
    </div>
</footer>





