<footer class="page-footer">
    <div class="container-fluid">
        © 2018 Create by                             
        <a class="grey-text text-lighten-3" href="#!">Stacy</a>
        <a class="grey-text text-lighten-3" href="#!">Otmane</a>
        <a class="grey-text text-lighten-3" href="#!">Maxime</a>
        <a class="grey-text text-lighten-3" href="#!">Arnaud</a>
    </div>
</footer>





