<nav>
    <div class="nav-wrapper">
        <a class="navbar-brand" href="{{ url('') }}"><img height="60px" src="./assets/img/logoPowerCarr.png" alt="logodusite"></a>
        <ul id="nav-mobile" class="right">
            <a class="navbar-brand" href="{{ url('') }}">PowerCar</a>
        </ul>
    </div>
</nav>
