#form1{
    margin-left: 500px;
    width: 50vh;
    margin-right: vh;
    position: relative;
    margin-top: 25px;

}
#send {
    margin-top: -10px;
}
#span{
    position: absolute;
    top: 25px; 
    font-family: 'Ubuntu',sans-serif,serif;
    margin-left: 20px;
}
#bton {
    position: absolute;
    top: 25px;
    color: white;
    left: 215px;
}
.navbar-fixed, nav{
    height: 100px;
    background-color: gray;
}

input[type=search]:not(.browser-default){
    border-bottom: solid 1px white;
}
.btn  {
    background-color: transparent;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 14px;
}
.btn:hover{
    border:none;
    background-color: transparent;
    box-shadow: none;
}
input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 black;
}

@media only screen and (max-width: 992px){
    #form1{
        width: 30vh;
    }
}
@media only screen and (max-width: 700px){

    nav .brand-logo.center{
        left: 2%;
        top: 15%;
    }
    div > nav > div > a > img {
        height: 70px;
        position: absolute;
    }
    #form1{
        width: 25vh;
    }
    #span, #bton{
        margin-left: 240px;    
    }
    #bton{
        margin-left: 200px;
    }
}
@media only screen and (max-width: 630px){
    #span, #bton{
        margin-left: 150px;    
    }
    #bton{
        margin-left: 110px;
    }
}
@media only screen and (max-width: 550px){
    #form1 {
        width: 20vh;
    }
    div > nav > div > a > img {
        height: 70px;
    }
    nav .brand-logo.center{
        left: 2%;
        top: 15%;
    }
    #span {
        display: none;
    }
    #bton{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 450px){
        #bton{
        margin-left: -50px;
    }
}