.navbar-fixed, nav{
    height: 100px;
    background-color: gray;
}
#form1{
    margin-left: 500px;
    width: 50vh;
    margin-right: vh;
    position: relative;
    margin-top: 25px;

}
div > nav > div > a > img {
    margin-left: 100px;
}
@media only screen and (max-width: 992px){

    nav .brand-logo{
        left: 5%;
    }
}
@media only screen and (max-width: 700px){

    nav .brand-logo{
        left: 5%;
    }
    #form1{
        width: 30vh;
    }
}
@media only screen and (max-width: 550px){
    #form1 {
        width: 30vh;
    }
    div > nav > div > a > img {
        height: 70px;
        margin-top: 15px;
        margin-left: 60px;
    }
}
i {
    margin-top: -10px;
}
input[type=search]:not(.browser-default){
    border-bottom: solid 1px white;
}
.btn  {
    background-color: transparent;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 14px;
}
.btn:hover{
    border:none;
    background-color: transparent;
    box-shadow: none;
}
input[type=search]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 black;
}
@media only screen and (max-height: 830px){
    
    input[type=search]:not(.browser-default){
        
    }

}